body{
    background-image: url('https://i.imgur.com/aOO396J.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-color: #777;
}
