body{
    background-image: url('https://photos.app.goo.gl/3dwh3R1zHSpxiNcm6');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-color: #777;
}
