body{
    background-image: url('/src/images/ShadowTransparentBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-color: #777;
}
